<ion-app>
  <!-- Header section -->
  <ion-toolbar>
    <ion-title><h1>Your Status</h1></ion-title>
  </ion-toolbar>

  <!-- Slider section -->
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides spaceBetween="60" slidesPerView="2">

      <ion-slide>
        <div class="slide">
          <ion-card>
            <h2>Delhi</h2>
          </ion-card>
          
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <h2>Banglore</h2>
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <h2>Pune</h2>
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <ion-card>
            <h2>Hyderabad</h2>
          </ion-card>
        </div>
      </ion-slide>

    </ion-slides>
  </ion-content>
</ion-app>