.detail-wrapper {
    ion-row.stats > ion-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #detail-map-canvas {
        min-height: 50vh;
    }

    ion-card.patients {
        height: 30vh;
    }

    .patient-slide {
        ion-card {
            margin: 0
        }
    }
}
