<ion-content class="ask-wrapper">
  <ion-slides [options]="slideOptions">
    <!--Age Group-->
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>
              Select your age group
            </h3>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col 
            size="6" 
            *ngFor="let ag of ageGroups" 
            class="single-select-tile" 
            [ngClass]="{ 'active': formData.ag === ag.value }"
            (click)="formData.ag = ag.value; slides.slideTo(1, 700, true);"> 
            <ion-card>
              <ion-img height="100" src="{{ 'assets/lottie/' + ag.icon }}"></ion-img>
              <ion-card-content>
                {{ ag.label }}
              </ion-card-content>
            </ion-card> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!--Previous Exposure-->
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>
              Select symptoms 
            </h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-chip 
            *ngFor="let item of symptomsList"
            color="{{ formData.tags[item.value] ? 'success' : '' }}"
            [ngClass]="{ 'active': formData.symptoms[item.value] }"
            (click)="formData.tags[item.value] = !formData.tags[item.value]">
            <ion-label>{{ item.label }}</ion-label>
          </ion-chip>
          <hr>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3>
              Select pre existing conditions 
            </h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-chip 
            *ngFor="let item of preExisting"
            color="{{ formData.tags[item.value] ? 'success' : '' }}"
            [ngClass]="{ 'active': formData.tags[item.value] }"
            (click)="formData.tags[item.value] = !formData.tags[item.value]">
            <ion-label>{{ item.label }}</ion-label>
          </ion-chip>
          <hr>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3>
              Anything else in last 20 days?
            </h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-chip 
            *ngFor="let item of travelHistory"
            color="{{ formData.tags[item.value] ? 'success' : '' }}"
            [ngClass]="{ 'active': formData.tags[item.value] }"
            (click)="formData.tags[item.value] = !formData.tags[item.value]">
            <ion-label>{{ item.label }}</ion-label>
          </ion-chip>
        </ion-row>

        <ion-row class="btn-row">
          <ion-col size="2" class="back-button" (click)="slides.slideTo(0, 700, true);">
            <ion-icon name="chevron-back-outline"></ion-icon>
            <small>{{ 'BACK' | translate }}</small>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="!netBusy && fireAuth()">
              <ion-spinner name="dots" *ngIf="netBusy"></ion-spinner>
              <span *ngIf="!netBusy">{{ 'UPDATE' | translate }}</span>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
